h1 {
    font-size: 22px;
    color:black
}
*{
    margin: 0;
    padding: 0;

}



.profile-image {
    width: 220px;
    height: 220px;
    margin-top: -6%;
    border-radius: 50%;
    
}
.fondo{
    width: 100%;
    height: 100%;;
}
.barra{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(87, 139, 189);
}


.logo-arg-programa {
    width: 15%;
}
.boton1{
    width:  100%;
    height: 40px;
    border-radius: 50%;
    border-color: rgb(215, 223, 224) ;
}

.boton2{
    width:  100%;
    height: 40px;
    border-radius: 50%;
    border-color: rgb(215, 215, 224) ;
}
.boton3{
   width:  100%;
    height: 40px;
    border-radius: 50%;
    border-color: rgb(215, 215, 224) ;
}
.boton4{
    width:  100%;
    height: 40px;
}

.btn-outline-primary {
    border:0;
    border-radius: 0%;

}

.experiencia {
    margin-left: 2px;
    margin-top: 2px;
    background-color: rgb(196, 227, 240);
    border-style: initial;
    border-style:solid;
    border-color: rgb(4, 61, 126);
    
}
.estudios {
    margin-left: 2px;
    margin-top: 2px;
    background-color: rgb(196, 227, 240);
    border-style: initial;
    border-style:solid;
    border-color: rgb(4, 61, 126);
}
.sobremi{
    margin-left: 2px;
    margin-top: 2px;
    background-color: rgb(196, 227, 240);
    border-style: initial;
    border-style:solid;
    border-color: rgb(4, 61, 126);
    padding-right: 1%;
    display: inline-block;
}

.skills{
    margin-left: 2px;
    margin-top: 2px;
    background-color: rgb(196, 227, 240);
    border-style: initial;
    border-style:solid;
    border-color: rgb(4, 61, 126);
}

body {
    background-color: rgb(87, 139, 189);
}

.progress {
    width: 25%;
    background-color: rgb(255, 255, 255);
    --bs-progress-bar-bg: rgb(87, 139, 189);
    margin-bottom: 6px;
}